
body {
   background-image: url("bg3.jpg");
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;

   background-repeat:no-repeat;

   background-size:cover;
}
.head1{
  margin-top:14vh;
  color:white;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Maven Pro', sans-serif;
  font-size:15vh !important;

}
.text1{
  color:white;
  text-shadow: 2px 2px 2px #000000;
  font-size:3vh !important;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10vh;
}
#b1, #b2, #b3, #b4{
    box-shadow: 2px 2px 2px #000000;
    background-color: #d9d9d9;
    font-family: 'Montserrat', sans-serif;
    color: black !important;
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    width: 25% !important;
}
#b1:hover, #b2:hover, #b3:hover, #b4:hover{
    cursor: pointer;
    color: black;
}
.nav1{
  background-color: rgba(0,0,0,0.5) !important;
  color:white !important;
  text-shadow: 2px 2px 2px #000000;
  font-size:2.4vh !important;
  font-family: 'Montserrat', sans-serif;

}
